.navbar {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  
}


.navbar-brand {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0rem 1rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 5px;
}

.nav-link:hover,
.navbar-nav .nav-link.active {
  color: #fff;
  background-color: #333;
  border-radius: 0.5rem;
}

/* Hamburger Button Styles */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 10px;



}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: background-color 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
.navbar-menu.open{
  width:100%;


}

@media (max-width: 768px) {
  .navbar{
    width:100%;
    padding:0;
    margin:0;
  }
  .navbar-brand {
    font-size: 2rem;
  }

  .nav-item {
    margin-right: 5px;
  }

  .hamburger {
    display: flex;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    position: relative;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px;
  }

  .navbar-nav {
    flex-direction: column;
  }
}